.box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.mask_box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-right: 40%;
  font-size: 5vh;
  pointer-events: none;
}
.mask {
  width: 600px;
  height: 600px;
}

.canvasBox {
  width: 60%;
}
.canvas {
  border: 1px solid black;
  width: 600px;
  height: 600px;
}

.settings_box {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
